---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import HoverableDoubleImages from "../components/HoverableDoubleImages";
---

<Layout title="About">
  <main class="main">
    <!-- WHY -->
    <div class="main-container">
      <div class="content-container">
        <div class="title">WHY</div>
        <div class="main-heading">
          Impact the world with innovative experiences
        </div>
        <div class="paragraph-container">
          <div>
            <span class="paragraph-text"
              >I've tried many things to find my passion. From performing
              concertos to music production; from researching new materials to
              creative entrepreneurship... In the end, I discovered the callings
              that move me:
            </span><span class="highlighted-text">Innovation</span><span
              class="paragraph-text"
              >,
            </span><span class="highlighted-text">Design</span><span
              class="paragraph-text"
              >,
            </span><span class="highlighted-text">Influence</span><span
              class="paragraph-text">.</span
            >
          </div>
        </div>
        <div class="paragraph-container">
          <div>
            <span class="highlighted-text">Innovation</span><span
              class="paragraph-text"
            >
              means creating unprecedented new experiences. When I was founding
              TechFrog (a startup), I excitedly felt my desire to make this
              experience, which we never had before, come true.</span
            >
          </div>
        </div>
        <div class="paragraph-container">
          <div>
            <span class="highlighted-text">Design</span><span
              class="paragraph-text"
            >
              is not art. Design is about solving right problems of real people.
              That’s what I really care about. For this reason, I strive to
              become a better listener, communicator, and designer.</span
            >
          </div>
        </div>
        <div class="paragraph-container">
          <div>
            <span class="highlighted-text">Influence</span><span
              class="paragraph-text"
            >
              is my greatest internal motivation. I yearn for my contributions
              to impact as many people in the world as possible. Even if it's a
              small impact, I aspire to create positive value, making the world
              better.</span
            >
          </div>
        </div>
      </div>
      <HoverableDoubleImages
        client:load
        defaultImage="https://mxeyphnpicullbfsgzzz.supabase.co/storage/v1/object/public/images/about-why-1.jpeg"
        defaultAlt="Daniel holding a cup of coffee and looking at outside through a window."
        hoverImage="https://mxeyphnpicullbfsgzzz.supabase.co/storage/v1/object/public/images/about-why-2.jpeg"
        hoverAlt="With his back to the camera, Daniel stands on the beach."
        defaultClass="why-1"
        hoverClass="why-2"
      />
    </div>
    <!-- HOW -->
    <div class="main-container">
      <div class="content-container">
        <div class="title">HOW</div>
        <div class="main-heading">UX: Human Interaction with Information</div>
        <div class="paragraph-container">
          <div>
            <span class="paragraph-text"
              >Driven by my WHY, I dedicated myself to the user experience of
              the internet, information and digital products. That's because the
              internet has the greatest power to affect the entire world, and UX
              is the key core of all digital products.
            </span>
          </div>
        </div>
        <div class="paragraph-container">
          <div>
            <span class="paragraph-text">
              Specifically, I believe that <span class="highlighted-text">
                the ways humans interact with information
              </span> will be improved, and I am particularly excited about the behavioral
              changes they bring. For example, <a href="https://www.figma.com/"
                >Figma</a
              > allows designers to co-create in a virtual world truly, <a
                href="https://www.heptabase.com/">Heptabase</a
              > offers a reading and note-taking experience that traditional outline
              notes and bi-directional link notes couldn't provide.
            </span>
          </div>
        </div>
        <div class="paragraph-container">
          <div>
            <span class="paragraph-text">
              In addition, although I have just begun exploring that field, the
              examples used by Bret Victor to explain his principles during <a
                href="https://www.youtube.com/watch?v=PUv66718DII&t=8s"
              >
                his talks
              </a>, as well as all the questions and ideas raised by Andy
              Matuschak’s <a href="https://www.youtube.com/watch?v=bcrcaTuvpBk"
                >interview</a
              > with Notion, deeply attract me.</span
            >
          </div>
        </div>
        <div class="paragraph-container">
          <div>
            <span class="paragraph-text">
              In summary, I would say, “Creating innovative products to improve
              the way humans interact with information and make people live
              better, is my aspiration.”</span
            >
          </div>
        </div>
      </div>
      <HoverableDoubleImages
        client:load
        defaultImage="https://mxeyphnpicullbfsgzzz.supabase.co/storage/v1/object/public/images/about-how-1.JPG"
        defaultAlt="Daniel standing in front of Disney Land with smile."
        hoverImage="https://mxeyphnpicullbfsgzzz.supabase.co/storage/v1/object/public/images/about-how-2.JPG"
        hoverAlt="A group of people are sticking post-it notes on the wall."
        defaultClass="how-1"
        hoverClass="how-2"
      />
    </div>

    <!-- WHAT -->
    <div class="main-container">
      <div class="content-container">
        <div class="title">WHAT</div>
        <div class="main-heading">A Winding Journey</div>
        <div class="paragraph-container">
          <div>
            <span class="paragraph-text"
              >Hi, I am Hao-Wei, or you can just call me Daniel. I'm a
              proactive, entrepreneurial and multidisciplinary person with
              passion and curiosity about innovation.</span
            >
          </div>
        </div>
        <div class="paragraph-container">
          <div>
            <span class="paragraph-text">
              I grew up in New Taipei City, Taiwan. After graduating from
              National Taiwan University, I researched transparent wood in our
              lab, but after gradually realizing my life goals, I took a break
              from my studies and went to the United States.</span
            >
          </div>
        </div>
        <div class="paragraph-container">
          <div>
            <span class="paragraph-text">
              Currently, I am an Information Systems graduate student,
              specializing in product design, user research, and web
              development.
            </span>
          </div>
        </div>
        <div class="paragraph-container">
          <div>
            <span class="paragraph-text">
              I always enjoy challenging new things, which makes me become a
              classical saxophonist who also plays the guitar and produces pop
              music. Besides, I usually host activities and research the
              principles behind things. In my free time, I try cooking various
              styles of dishes for my family, playing video games, or traveling!
            </span>
          </div>
        </div>
      </div>
      <HoverableDoubleImages
        client:load
        defaultImage="https://mxeyphnpicullbfsgzzz.supabase.co/storage/v1/object/public/images/about-what-1.png"
        defaultAlt="Daniel standing in front of an old huge tree in a grass field."
        hoverImage="https://mxeyphnpicullbfsgzzz.supabase.co/storage/v1/object/public/images/about-what-2.png"
        hoverAlt="Daniel playing the saxophone in a concert hall."
        defaultClass="what-1"
        hoverClass="what-2"
      />
    </div>
  </main>
</Layout>

<style>
  .main {
    padding: 2rem;
    background: var(--color-black);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
  }
  a {
    text-decoration-line: underline;
  }
  .main-container {
    max-width: 1200px;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }
  .content-container {
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
    display: flex;
  }
  .title {
    font-size: 1rem;
    font-weight: 300;
    word-wrap: break-word;
  }
  .main-heading {
    align-self: stretch;
    font-size: 2.728rem;
    font-weight: 400;
    line-height: 110%;
    word-wrap: break-word;
  }
  .paragraph-container {
    align-self: stretch;
    padding-top: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    display: flex;
  }
  .paragraph-text,
  .highlighted-text {
    font-size: 1.25rem;
    font-weight: 300;
    word-wrap: break-word;
  }
  .highlighted-text {
    font-weight: 700;
  }
  /* .image-container {
      width: 100%;
      aspect-ratio: 1 / 1;

      padding: 0.75rem;
      background: #3f3f3f;
      border-radius: 2.625rem;
      border: 1px #b1b1b1 solid;

      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: flex;
    }
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;

      overflow: hidden;
      border-radius: 2rem;
    } */

  @media (max-width: 55rem) {
    .main-container {
      grid-template-columns: 1fr;
      grid-template-areas: "image" "content";
      gap: 1rem;
      justify-items: center;
    }
    .content-container {
      grid-area: content;
    }
  }

  @media (max-width: 30rem) {
    .main-heading {
      font-size: 2.3rem;
    }

    .paragraph-text,
    .highlighted-text {
      font-size: 1rem;
    }
  }
</style>
